universidad-veracruzana/tec-integracion-soluciones/calculadora/CalculadoraCliente/web/WEB-INF/wsdl/localhost_8080/Calculadora/CalculadoraEjemplo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uv.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uv.mx/" name="CalculadoraEjemplo">
<types>
<xsd:schema>
<xsd:import namespace="http://uv.mx/" schemaLocation="http://localhost:8080/Calculadora/CalculadoraEjemplo?xsd=1"/>
</xsd:schema>
</types>
<message name="Suma">
<part name="parameters" element="tns:Suma"/>
</message>
<message name="SumaResponse">
<part name="parameters" element="tns:SumaResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<message name="Multiplicacion">
<part name="parameters" element="tns:Multiplicacion"/>
</message>
<message name="MultiplicacionResponse">
<part name="parameters" element="tns:MultiplicacionResponse"/>
</message>
<message name="Exponenciacion">
<part name="parameters" element="tns:Exponenciacion"/>
</message>
<message name="ExponenciacionResponse">
<part name="parameters" element="tns:ExponenciacionResponse"/>
</message>
<message name="RaizCuadrada">
<part name="parameters" element="tns:RaizCuadrada"/>
</message>
<message name="RaizCuadradaResponse">
<part name="parameters" element="tns:RaizCuadradaResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<portType name="CalculadoraEjemplo">
<operation name="Suma">
<input wsam:Action="http://uv.mx/CalculadoraEjemplo/SumaRequest" message="tns:Suma"/>
<output wsam:Action="http://uv.mx/CalculadoraEjemplo/SumaResponse" message="tns:SumaResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://uv.mx/CalculadoraEjemplo/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://uv.mx/CalculadoraEjemplo/RestaResponse" message="tns:RestaResponse"/>
</operation>
<operation name="Multiplicacion">
<input wsam:Action="http://uv.mx/CalculadoraEjemplo/MultiplicacionRequest" message="tns:Multiplicacion"/>
<output wsam:Action="http://uv.mx/CalculadoraEjemplo/MultiplicacionResponse" message="tns:MultiplicacionResponse"/>
</operation>
<operation name="Exponenciacion">
<input wsam:Action="http://uv.mx/CalculadoraEjemplo/ExponenciacionRequest" message="tns:Exponenciacion"/>
<output wsam:Action="http://uv.mx/CalculadoraEjemplo/ExponenciacionResponse" message="tns:ExponenciacionResponse"/>
</operation>
<operation name="RaizCuadrada">
<input wsam:Action="http://uv.mx/CalculadoraEjemplo/RaizCuadradaRequest" message="tns:RaizCuadrada"/>
<output wsam:Action="http://uv.mx/CalculadoraEjemplo/RaizCuadradaResponse" message="tns:RaizCuadradaResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://uv.mx/CalculadoraEjemplo/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://uv.mx/CalculadoraEjemplo/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
</portType>
<binding name="CalculadoraEjemploPortBinding" type="tns:CalculadoraEjemplo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Exponenciacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RaizCuadrada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraEjemplo">
<port name="CalculadoraEjemploPort" binding="tns:CalculadoraEjemploPortBinding">
<soap:address location="http://localhost:8080/Calculadora/CalculadoraEjemplo"/>
</port>
</service>
</definitions>