universidad-veracruzana/tec-integracion-soluciones/examen/ClienteFacturador/src/conf/xml-resources/web-service-references/Facturacion/wsdl/localhost_8080/WebServiceFacturador/Facturacion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tec.integracion.soluciones/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tec.integracion.soluciones/">

<xs:element name="hacerFacturacion" type="tns:hacerFacturacion"/>

<xs:element name="hacerFacturacionResponse" type="tns:hacerFacturacionResponse"/>

<xs:complexType name="hacerFacturacion">
<xs:sequence>
<xs:element name="rfc" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="impuesto" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hacerFacturacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>